<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pantcy - Shop Pants</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">

  </head>
  <body style="background-color:rgb(220, 220, 220);">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <br>
        <br>

    <div class="container text-center">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6" style="background-color:white;">
            <h1 class="display-3">Pantcy</h1>
            <hr>
            <div class="row">
                <div class="col-6">
                    <p class="text-left "> {{name}} X {{quantity}}<br>{{text}}</p>
                    <p class="text-left">Send exactly <b>{{amount}} {{currency}}</b> to this address</p>
                    <span class="border"> {{address}}</span>
                    <br>
                    <img src={{qrcode_url}} alt="..." class="img-thumbnail float-left" style="width:128px;height:128px;">
                </div>
                <div class="col-6">
                    <p class="text-left "><b> ${{price}} USD</b><br>{{amount}} {{currency}}</p>
                    <p class="text-left" style="font-size: 12px;"> Transaction ID:<br>{{txn_id}}</p>

                </div>
            </div>
          </div>
          <div class="col-sm-3"></div>
        </div>
    </div>

    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Pantcy 2017</p>
        </div>
        <!-- /.container -->
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>